*{
    margin: 0;
    padding: 0;
}
body{
    /* background-color: rgb(41, 68, 68); */
    background-color: rgb(52, 58, 65);
    text-align: center;
}
.main{
    /* background-color: rgb(139, 174, 185);  original light blue color */
    background-color: rgb(115, 148, 158);
}
#title{
    width: 100%;
    text-align: center;
    color: rgb(238, 238, 170);
    margin-bottom: 20px;
}

form{
    font-size: 1.2em;
    text-align: center;
    /* background-color: rgb(139, 174, 185); */
    background-color: rgba(238, 237, 237, 0.336);
    background-blend-mode: exclusion;
    background-image: url(../img/Steel1.jpeg);
    background-size: cover;
}
    form input[type="textarea"]{
        width: 595px;
        height: 100px;
        margin: auto;
        margin-bottom: 40px;
        text-align: center;
        word-wrap: break-word;
        
        overflow: auto
        
    }
    form input[type="submit"]{
        background-color: rgb(238, 238, 170);
        width: 150px;
        height: 50px;
        /* display: inline-block; */
        margin: auto;
        border-radius: 10px;
    }
    form input[type="submit"]:hover{
        background-color: rgb(255, 255, 215);
    }
    .enterNum{
        margin-bottom: 10px;
    }
    #outputArea{
        background-color: rgba(245, 222, 179, 0.219);
        /* width: 100%; */
        height: 80px;
        /* width: 100%; */
        padding: 8px;
        text-align: center;
        margin: auto;
        margin-top: 30px;
        /* border: 2px solid gray; */
        border: 0px, 2px, 2px, 2px;
        border-color: gray;
        word-wrap: break-word;
        overflow: auto;
    }
input{
    display: inline-block;
    margin: auto;
}
#switchCrypt{
    /* background-color: rgba(211, 211, 211, 0.514); */
    background-color: rgba(238, 237, 237, 0.336);
    background-blend-mode: exclusion;
    background-image: url(../img/Steel1.jpeg);
    background-size: cover;
    padding-top: 8px;
    width: 100%;
    border-radius: 10px 10px 0 0;
    /* height: 100px; */
    /* margin-top: 15px; */
    
}
#switchCrypt a{
    width: 150px;
    padding: 5px;
    text-decoration: none;
    border: 1px solid gray;
    margin: 1px 38px;
    margin-top: 10%;
    border-radius: 15%;
    box-shadow: 0px 0px 2px rgba(128, 128, 128, 0.678);
    vertical-align: middle;
    color: rgb(95, 95, 95);
}
#switchCrypt a:hover{
    color: rgb(63, 63, 63);
    border-color: rgb(100, 100, 100);
}
.off{
    /* background-color: lightgray; */
}
#cryptBottom{
    background-color: rgba(252, 250, 250, 0.336);
    background-blend-mode: exclusion;
    background-image: url(../img/Steel1.jpeg);
    background-size: cover;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 100%;
    border-radius: 0 0 10px 10px;
    color: rgba(0, 0, 0, 0.822)
}

#thisPage{
    background-color: rgba(238, 238, 170, 0.726);
}
#goback{
    text-decoration: none;
    color: black;
    background-color: rgb(139, 174, 185);
    padding: 8px;
    /* margin-top: 80px; */
    display: inline-block;
    border: 2px solid grey;
    margin: auto;
    margin-top: 15px;
    text-align: center;
}
#goback:hover{
    
    background-color: lightblue;
}
@media only screen and (max-width: 500px) {
    .main{
        /* background-color: rgb(139, 174, 185); */
        background-color: rgb(115, 148, 158);
        padding: 5px;
    }
    #title{
        font-size: 1em;
        margin-top: 0px;
    }
    form{
        width: 100%;
        padding: 0px;
        /* color: white; */
    }
    form input[type="textarea"]{
        width: 99%;
        margin-bottom: 10px;
    }
    #outputArea{
        background-color: rgba(245, 222, 179, 0.219);
    }
    #goback{
        color: white;
        background-color: rgb(114, 108, 102);
        border: 2px solid grey;
    }
    #goback:hover{
        
        background-color: lightblue;
    }
    #switchCrypt{
        padding-top: 10px;
    }
}
@media only screen and (min-width: 501px) {

    .main{
        background-color: rgba(0, 0, 0, 0);
        width: 600px;
        /* height: 480px; */
        padding: 20px;
        margin: auto;
        border-radius: 10px;
    }
}