*{
    padding: 0;
    margin: 0;
}
html, body{
    height: 100%;
}
body{
    background-color: rgb(52, 58, 65);
    text-align: center;
}
.main{
    padding-top: 0px;
    margin-top: 0px;
    
}
h1{
    color: rgba(255, 148, 60, 0.884);
}
form{
    /* background-color: darkblue; */
}
input[type="number"]{
    width: 100px;
    height: 40px;
    font-size: 1.2em;
    text-align: center;
}
input[type="submit"]{
    background-color: rgba(255, 148, 60, 0.884);
    width: 100px;
    height: 50px;
}
input[type="submit"]:hover{
    background-color: rgba(255, 187, 132, 0.884);
}
#goback{
    text-decoration: none;
    color: black;
    background-color: rgb(139, 174, 185);
    padding: 8px;
    /* margin-top: 80px; */
    display: inline-block;
    border: 2px solid grey;
    margin-top: 15px;

}
#goback:hover{
    
    background-color: lightblue;
}
#guess_count{
    color: rgba(255, 148, 60);
}

@media only screen and (max-width: 400) {
    .main{
        height: 70%;
    }
}
@media only screen and (max-width: 500px) {
    
    .main{
        width: 100%;
        height: 85%;
        margin: auto;
        text-align: center;
        padding-top: 30px;
        color: rgb(201, 234, 245);
        font-size: 1.4em;
        background-color: rgb(37, 58, 117);
        margin-top: 0px;
    }
    h1{
        margin-bottom: 40px;
        font-size: 2em;
    }
    #guess_count{
        width: 200px;
        /* background-color: rgb(94, 112, 136); */
        margin: auto;
        margin-top: 15px;
    }
}
@media only screen and (min-width: 501px) {
    body{
        /* background-color: rgb(37, 58, 117); */
    }
    .main{
        width: 500px;
        margin: auto;
        height: 80%;
        text-align: center;
        padding: 20px;
        
    }
    .gameArea{
        /* width: 200px; */
        /* background-color: rgba(173, 216, 230, 0.829); */
        /* background-color: rgb(37, 58, 117); */
        margin: auto;
        margin-top: 20px;
        margin-bottom: 10px;
        padding: 10px;
        /* box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.404); */
        /* border-radius: 8px; */
        color: white;
    }
    #guess_count{
        color: white;
    }
}
@media only screen and (min-width: 650px) {
    .main{
        /* background-image: radial-gradient(rgba(0, 0, 0, 0.295), rgba(173, 216, 230, 0.103), rgba(173, 216, 230, 0.877)); */
        /* width: 650px; */
        padding: 50px;
        height: 70%;;
    }
}
@media only screen and (min-width: 767px) {
    .main{
        /* width: 90%; */
        height: 50%;
        /* margin-top: 50px; */
    }
}